<div class="span6" id="welcomeBlurb">
	<h1>Find and Rent Parking Space</h1>
	<p class="subhead">Parkit connects those who have unused parking space with those who need it most. </p>	
		<%= link_to new_user_registration_path, class: "btn btn-large btn-success" do %>
			List Your Space <i class="icon-circle-arrow-right"></i>
		<% end %>
		<%= link_to listings_path, class: "btn btn-large btn-primary" do %>
			Find a Space <i class="icon-circle-arrow-right"></i>
		<% end %>
</div>


