<div class="span12 text-center">
	<h2 class="">Welcome to Parkit</h2>
	<div class="span6 offset3">
		<%= link_to "List a Parking Space", new_user_registration_path, class: "btn btn-large btn-primary btn-block" %>
		<%= link_to "Find a Parking Space", listings_path, class: "btn btn-large btn-block" %>
	</div>
</div>

