<h5><%= listing.street %>, <%= listing.city %></h5>
<h5>$<%= listing.price %></h5>
<p><%= mail_to listing.user.email, "Rent Now", class: "btn btn-primary btn-block", target:"_blank", encode: "hex", subject:"Parkit Rental Inquiry: #{listing.street}, #{listing.city}"  %></p>
