<p class="muted"><%= listing.street %>, <%= listing.city %></p>
<h3>$<%= listing.price %><small> /monthly</small></h3>
<p class="infowindow-btn"><%= mail_to listing.user.email, "Rent This Space", class: "btn btn-primary btn-block", target:"_blank", encode: "hex", subject:"Parkit Rental Inquiry: #{listing.street}, #{listing.city}"  %></p>
