<li>
  <span class="content"><%= listing.city %> </span>
	<span class="content"><%= listing.street %> </span>
	<span class="content">$<%= listing.price %></span>

  <% if current_user %>
    <%= link_to "delete", listing, method: :delete,
                                     confirm: "You sure?",
                                     title: listing.street %>
  <% end %>
</li>