<div id="slider" class="span2">
  <h5>Filter Listings by Price</h5>
  <div id='price-range' ></div>
  <input type="text" id="filtered-price" class="span12"/>
</div>

<%= gmaps(map_options: { 
					detect_location: false, 
					center_on_user:  false,
					center_latitude: 49.28186,
					center_longitude: -123.122149,
					disableDefaultUI: true,

					zoom: 13 							},
					markers: { data: @json }) 
%>

<script type="text/javascript">
  $(document).ready(function() {
    Gmaps.map.callback = function() {

      var PriceFilter = {
        min: 0,
        max: 500,
      };

      $( "#filtered-price" ).val( "$"+(PriceFilter.min)+ " - " + "$"+(PriceFilter.max))
      $("#price-range").slider({
        range: true,
        min: PriceFilter.min,
        max: PriceFilter.max,
        values: [ PriceFilter.min, PriceFilter.max ],
        slide: function(event, ui) {
          $( "#filtered-price" ).val("$"+(ui.values[ 0 ])+ " - " + "$"+(ui.values[ 1 ]))
          PriceFilter.min = ui.values[ 0 ]
          PriceFilter.max = ui.values[ 1 ]
          applyFilters()
        }
      });

      var VisibleMarkers = function() {
      var filtered = _.reject(Gmaps.map.markers, function(marker) {
          return marker.price < PriceFilter.min || marker.price > PriceFilter.max;
        });
        return filtered
       }

      var applyFilters = function() {
        _.each(Gmaps.map.markers, function(marker) {
          Gmaps.map.hideMarker(marker)
        })
        _.each(VisibleMarkers(), function(marker) {
          Gmaps.map.showMarker(marker)
        })
      };
   	}

	});
</script>
