<div class="form">
  <section>
    <h3>Your Listing</h3>
    <% if @user.listings.any? %>
        <ul class="listings">
          <%= render @listings %> 
        </ul>
      <% else %>
      <p>No space listed. Get started now.</p>
      <%= link_to "List Your Space", new_listing_path , class: "btn btn-primary btn-block" %>
      <% end %>
  </section>
</div>

<!-- <div class="span8">
  <h3>My Listing</h3>
  <% if @user.listings.any? %>
    <ol class="listings">
      <%= render @listings %>
    </ol>
  <% end %>
</div> -->


