/*
 *= require_self
 *= require jquery.ui.slider
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

html,
body {
	height: 100%; 
	background: #F7F7F7;
	box-sizing: border-box;
}

p.alert,
p.notice {
	display: none;
}

#error_explanation {
  @extend .alert-error;
  h2 {
    font-size: 14px;
  }
  ul {
    text-align: left;
    list-style: none;
    margin: 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.alert.alert-notice {
  @extend .alert-success;
}

/* --------- AJAX PRELOADER ------------ */

#loadingDiv {  
  display:    none;
  position:   fixed;
  z-index:    10000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba(255,255,255,0.8)
              url("/assets/ajax-loader.gif") 
              50% 50% 
              no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading #loadingDiv {
    display: block;
}

/* ------------ STICKY FOOTER ------------- */ 

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #ddd;
  .container .footer-links {
  	margin: 20px 0;
  }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* ------------ CUSTOM STYLES ------------- */ 

#wrap > .container {
  padding-top: 60px;
}















