/*
 *= require_self
 *= require jquery.ui.slider
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

html,
body {
	height: 100%; 
	background: #F7F7F7;
	box-sizing: border-box;
}

p.alert,
p.notice {
	display: none;
}

#error_explanation {
  @extend .alert; 
  @extend .alert-error; 
  h2 {
    display: none;
  }
  ul {
    text-align: left;
    list-style: none;
    margin: 0;
  }
}

.alert .alert-notice {
  @extend .alert-success;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* ------------ STICKY FOOTER ------------- */ 

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #ddd;
  .container-fluid .footer-links {
  	margin: 20px 0;
  }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* ------------ CUSTOM STYLES ------------- */ 

#wrap > .container-fluid {
  padding-top: 60px;
}















