body#listings {
	padding-top: 40px;
	#wrap {
		height: 100% !important;
	}
	
	#push {
		display: none;
	}

	.container-fluid.content {
		height: 100%;
		padding: 0; 
		.row-fluid,
		.span12 {
			height: 100%;
		}
	}
	.map_container {
			padding-top: 60px;
			margin-top: -60px;
			box-sizing: border-box;
		p,h1,h2,h3,h4,h5 {
			margin: 0;
			padding: 0;
		}
		a {
			margin-top: 10px;
		}
		img {
  		max-width: none;  	
		}
	}
}