body#listings {
	#wrap {
		margin: 0 auto;
		height: 100% !important;
	}

	.container-fluid.content {
		height: 100%;
		padding: 0; 
		.row-fluid,
		.span12 {
			height: 100%;
		}
	}
	.map_container {
		p,h1,h2,h3,h4,h5 {
			margin: 0;
			padding: 0;
		}
		a {
			margin-top: 10px;
		}
		img {
  		max-width: none;  	
		}
	}
}